{% extends 'base.html' %}

{% block content %}

<style>
    .account_details_div {
        text-align: center; 
        max-width: 500px; 
        margin: 4rem auto;
    }
    .account_details_img {
        height: 15rem; 
        width: 15rem;
        border-radius: 10rem;
        margin: 2rem; 
        object-fit: cover;
    }

    .material-icons{
        text-decoration: none;
        box-shadow: 0 0 3px #ccc; 
        border-radius: 10rem; 
        padding: 1rem;
    }
</style>
        <div class="account_details_div">
            <p>{{ target_user.date_joined}}</p>
            
            {% if target_user.profile %}
                <img class="account_details_img" src="{{target_user.profile.image.url}}" alt="">
                <h5>User Nickname : {{target_user.profile.nickname}}</h5>
                <h5>State Message : {{target_user.profile.message}}</h5>

                {% if target_user == user %}
                    <a class="material-icons"
                        href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        edit
                    </a>
                {% endif %}


            {% else %}
                {% if target_user == user %}
                    <a href="{% url 'profileapp:create' %}">
                        Create Profile
                    </a>

                {% else %}
                    <h2>해당 사용자는 닉네임이 미설정 됨.</h2>
                {% endif %}
            {% endif %}

            {% if target_user == user %}
                <a class="material-icons" href="{% url 'accountapp:update' pk=user.pk %}">
                    settings
                </a>

                <a class="material-icons" href="{% url 'accountapp:delete' pk=user.pk %}">
                    delete
                </a>
            {% endif %}
            <div> {% include 'snippets/list_project.html' with article_list=object_list %} </div>
        </div>
{% endblock %}