
.django_font {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
}

.django_header {
    text-align: center; 
    margin-top: 2rem;
}

.django_footer_button {
    font-size: 1.3rem;
}

.django_footer {
    text-align: center; 
    margin-top: 2rem;
}

.django_loginform {
    text-align: center; 
    max-width: 500px; 
    margin:2rem auto
}

@media screen and (max-width:500px) {
    html {
        font-size: 10px;
        max-width: min-content;
    }
}

a {
    color : black;

}

a:hover {
    color: black;
    text-decoration: none;
}

.header_nav_element {
    margin: 0 1rem;

}

.header_nav_bar {
    margin: 1rem 0;

}